@charset "UTF-8";
@font-face {
    font-family: "idroid";
    src: url(fontes/idroid.otf);
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063D1E;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'Android', sans-serif;
}

.cabecalho {
    background-image: linear-gradient(var(--cor2), var(--cor4));
}

body {
    background-color: var(--cor1);
    margin: 0px;
}

header {
    display: grid;
}

header > div > h1 {
    color: white;
    font-family: var(--fonte1);
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.505);
}

header > div > h4 {
    color: rgb(210, 210, 210);
    font-family: var(--fonte0);
    font-weight: 100;
    text-align: center;
    font-size: 1.3em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.538);
}

nav {
    background-color: var(--cor4);
    font-size: 1.3em;

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.553);
}

nav > a {
    color: rgb(255, 255, 255);
    font-style: none;
    font-family: var(--fonte2);
    margin-left: 10px;
    text-decoration: none;
}

main {
    border-radius: 0px 0px 8px 8px;
    background-color: white;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 1.3px;
    box-shadow: 0px 0px 10px black;
    padding-bottom: 13px;
    padding-top: 13px;    
    min-width: 400px;
    max-width: 800px;
}

main > article > div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

main > article > h1 {
    margin-top: 0;
    font-size: 2em;
    font-family: 'idroid';
    color: var(--cor4);
    margin: 15px 13px 0px 13px;
}

main > article > h3 {
    font-family: 'idroid';
    font-size: 1.5em;
    color: var(--cor4);
    margin: 15px 13px 0px 13px; 
    background-image: linear-gradient(to right, var(--cor0), white);
}

main > article > div > img {
    max-width: 100%;
    max-height: 100%;
    margin: 0px 20px;
}

main > article > p {
    font-family: var(--fonte0);
    text-align: justify;
    font-size: 1.3em;
    margin: 30px 20px;
}

main > article > p > strong {
    color: var(--cor4);
}

main > article > p > a {
    color: var(--cor4);
    text-decoration: none;
}

main > article > div > iframe {
    background-color: #063D1E;
    padding: 20px 60px;
}

main > article > aside {
    background-color: var(--cor0);
    border-radius: 10px;
    max-width: 900px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.296);
    margin-right: 15px;
    margin-left: 15px;
}

main > article > aside > h4 {
    background-color: var(--cor3);
    font-family: var(--fonte2);
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    margin-bottom: 0px;
}

main > article > aside > p {
    font-family: var(--fonte0);
    padding: 10px;
    margin-top: 5px;
    text-align: justify;
    font-size: 1.3em;
}

main > article > aside > ol {
    columns: 2;
    font-size: 1.3em;
    font-family: var(--fonte0);
    list-style-position: inside;
    list-style-type: '\2714\0020\0020';
}

main > article > aside > p > a {
    color: var(--cor4);
    text-decoration: none;
}

footer {
    text-align: center;
    width: 100%;
    color: white;
    font-family: var(--fonte0);
    background-color: var(--cor5);
}

footer > p {
    margin: 0px;
    margin-top: 15px;
    padding: 10px 100px;
}