@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0;
}

body {
    font-family: sriracha;
}

h1 {
    font-family: Passion One;
    font-size: 127px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

header {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}