@charset "UTF8";

.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

body {
    background-color: black;
    
}

h1 {
    color: white;
}

h3{
    color: white;
}

a {
    color: white;
}